<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/base}"
>
<head>
    <!--css,JS 추가영역-->
    <title>홈</title>
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
<!--    <link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}">-->
</head>
<div layout:fragment="content">
    <div class="container">
        <h1>My First Bootstrap Page</h1>
        <p>This is some text.</p>


        <table class="table">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</html>
